* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
:root {
  background-color: #ded7de;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 1400px;
  width: 100%;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header-section {
  display: flex;
  flex-direction: column;
  background-image: url(./assets//background.png), url(./assets/Shape.png),
    url(./assets/shape03.png), url(./assets/shape02.png);
  background-size: cover, 32%, 30%, 30%;
  background-position: center center, left bottom, 80% top, 90% bottom;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1400px) {
  .main-container {
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
